:root {
	--sx-normal-label-text-color: #272833;
	--sx-normal-input-text-color: #272833;
	--sx-error-label-text-color: #e81264;
	--sx-error-input-text-color: #272833;
	--sx-error-input-border: 2px solid #e81264;
	--sx-error-input-border-color: #e81264;
	--sx-error-input-border-thick: 2px;
	--sx-error-message-color: #e81264;
	--sx-normal-font-size: 0.825rem;
	--sx-normal-font-weight: 400;
	--sx-title-font-size: 1rem;
	--sx-title-font-weight: 600;
	--sx-caption-font-size: 0.75rem;
	--sx-highlight-border: 2px solid #7ff47d;
}

div .not-found {
	display: flex;
	align-items: center;
	justify-items: center;
	border: 1px solid #aaaaaa;
	width: 100%;
	height: 400px;
	max-height: 400px;
	background-image: url("../asset/images/not-found.png");
	background-size: cover;
	background-position: center;
	opacity: 0.1;
}

div .not-found span {
	display: block;
	position: relative;
	opacity: 1;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}

.localized-flag-btn {
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.sx-dual-listbox {
	display: flex;
	flex-direction: row;
}
.sx-dual-listbox .clay-reorder {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.sx-dual-listbox label {
	margin-bottom: 1rem;
}

.sx-dual-listbox-item {
	display: flex;
	flex-direction: column;
	margin-right: 0.25rem;
}
@media (min-width: 576px) {
	.sx-dual-listbox-item {
		margin-right: 1.5rem;
	}
}
.sx-dual-listbox-item:last-child {
	margin-right: 0;
}

.sx-dual-listbox-item-expand {
	flex-grow: 1;
	width: 3rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.sx-dual-listbox-actions {
	align-self: center;
	/*margin-top: calc(21px + 1rem);*/
}

.sx-label-error {
	color: var(--sx-error-label-text-color);
}

.sx-input-error {
	display: none;
	border: var(--sx-error-input-border);
}

.sx-error-message {
	color: red;
	font-size: 0.75rem;
	margin-top: 10px;
}

.sx-form-item-feedback {
	color: red;
	font-size: 0.75rem;
	margin-top: 10px;
}

.sx-inline {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.sx-inline .nonspace {
	margin-left: 0px;
	margin-right: 0px;
}

.sx-inline .input-group {
	display: inline-flex;
}

.sx-inline-label {
	display: inline-block;
}

.sx-inline-control {
	display: inline-block;
}

.sx-inline-label-spaced {
	display: inline-block;
	margin-right: 5px;
}

.sx-inline-control-spaced {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.sx-inline-label-error {
	display: inline-block;
}

.sx-inline-control-error {
	display: inline-block;
}

.sx-row {
	display: block;
}

.clay-reorder {
	padding: 2px;
	position: relative;
	z-index: 0;
}
.clay-reorder .form-control-inset {
	margin-bottom: 0;
	margin-top: 0;
	overflow: auto;
	padding-bottom: 0.4375rem;
	padding-top: 0.4375rem;
	width: 100%;
}
.clay-reorder .form-control-inset.focus,
.clay-reorder .form-control-inset:focus-visible,
.c-prefers-focus .clay-reorder .form-control-inset:focus {
	background-color: transparent;
	box-shadow: none;
}
.clay-reorder .form-control-inset:focus + .clay-reorder-underlay,
.clay-reorder .form-control-inset.focus + .clay-reorder-underlay {
	background-color: #f0f5ff;
	border-color: #80acff;
}
.clay-reorder .form-control-inset + .clay-reorder-underlay {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.clay-reorder-footer {
	padding: 0.5rem;
}

.clay-reorder-footer-invisible.clay-reorder-footer *,
.clay-reorder-footer-invisible .clay-reorder-footer * {
	visibility: hidden;
}

.clay-reorder-footer-center.clay-reorder-footer,
.clay-reorder-footer-center .clay-reorder-footer {
	text-align: center;
}

.clay-reorder-footer-end.clay-reorder-footer,
.clay-reorder-footer-end .clay-reorder-footer {
	text-align: right;
}

.toggle-switch {
	margin-right: 20px;
	/*width: 100%;*/
}

.toggle-switch-check-bar {
	margin-right: 5px;
}

.simple-toggle-switch.toggle-switch {
	width: 90%;
}

.btn-group-spaced {
	align-items: center;
	column-gap: 1rem;
	display: inline-flex;
	flex-wrap: wrap;
	position: relative;
}

.btn-translucent {
	border-radius: 50rem;
}

.text-1 {
	font-size: 0.625rem;
}

.text-2 {
	font-size: 0.75rem;
}

.text-3 {
	font-size: 0.875rem;
}

.text-4 {
	font-size: 1rem;
}

.text-5 {
	font-size: 1.125rem;
}

.text-6 {
	font-size: 1.25rem;
}

.text-7 {
	font-size: 1.5rem;
}

.text-8 {
	font-size: 1.75rem;
}

.text-9 {
	font-size: 2rem;
}

.text-10 {
	font-size: 2.25rem;
}

.text-11 {
	font-size: 2.5rem;
}

.tbar {
	display: flex;
}
.tbar > .container,
.tbar > .container-fluid {
	display: flex;
}

.tbar-nav {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: nowrap;
	list-style: none;
	margin-bottom: 0;
	min-width: 3.125rem;
	padding-left: 0;
	word-wrap: break-word;
}
.tbar-nav > .tbar-item {
	justify-content: center;
}

.tbar-nav-shrink {
	flex-grow: 0;
	flex-shrink: 0;
	width: auto;
}

.tbar-nav-wrap {
	flex-wrap: wrap;
}

.tbar-item {
	max-width: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.tbar-item:first-child {
	padding-left: 0;
}
.tbar-item:last-child {
	padding-right: 0;
}

.tbar-item-expand {
	text-align: center;
}

.tbar-link {
	display: inline-block;
}

.tbar-btn-monospaced,
.tbar-link-monospaced {
	align-items: center;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 0;
	text-align: center;
}
.tbar-btn-monospaced .inline-item .lexicon-icon,
.tbar-btn-monospaced .lexicon-icon,
.tbar-link-monospaced .inline-item .lexicon-icon,
.tbar-link-monospaced .lexicon-icon {
	margin-top: 0;
}

@media (max-width: 575.98px) {
	.tbar-inline-xs-down {
		display: block;
	}
	.tbar-inline-xs-down .container,
	.tbar-inline-xs-down .container-fluid {
		display: block;
	}
	.tbar-inline-xs-down .component-title,
	.tbar-inline-xs-down .tbar-nav,
	.tbar-inline-xs-down .tbar-section {
		display: inline;
	}
	.tbar-inline-xs-down .tbar-item {
		padding-left: 0;
		display: inline;
	}
}

@media (max-width: 767.98px) {
	.tbar-inline-sm-down {
		display: block;
	}
	.tbar-inline-sm-down .container,
	.tbar-inline-sm-down .container-fluid {
		display: block;
	}
	.tbar-inline-sm-down .component-title,
	.tbar-inline-sm-down .tbar-nav,
	.tbar-inline-sm-down .tbar-section {
		display: inline;
	}
	.tbar-inline-sm-down .tbar-item {
		padding-left: 0;
		display: inline;
	}
}

@media (max-width: 991.98px) {
	.tbar-inline-md-down {
		display: block;
	}
	.tbar-inline-md-down .container,
	.tbar-inline-md-down .container-fluid {
		display: block;
	}
	.tbar-inline-md-down .component-title,
	.tbar-inline-md-down .tbar-nav,
	.tbar-inline-md-down .tbar-section {
		display: inline;
	}
	.tbar-inline-md-down .tbar-item {
		padding-left: 0;
		display: inline;
	}
}

@media (max-width: 1279.98px) {
	.tbar-inline-lg-down {
		display: block;
	}
	.tbar-inline-lg-down .container,
	.tbar-inline-lg-down .container-fluid {
		display: block;
	}
	.tbar-inline-lg-down .component-title,
	.tbar-inline-lg-down .tbar-nav,
	.tbar-inline-lg-down .tbar-section {
		display: inline;
	}
	.tbar-inline-lg-down .tbar-item {
		padding-left: 0;
		display: inline;
	}
}

.tbar-inline-xl-down {
	display: block;
}
.tbar-inline-xl-down .container,
.tbar-inline-xl-down .container-fluid {
	display: block;
}
.tbar-inline-xl-down .component-title,
.tbar-inline-xl-down .tbar-nav,
.tbar-inline-xl-down .tbar-section {
	display: inline;
}
.tbar-inline-xl-down .tbar-item {
	padding-left: 0;
	display: inline;
}

.component-tbar {
	border-color: #e7e7ed;
	border-style: solid;
	border-width: 0 0 0.0625rem 0;
	height: 3.5rem;
	color: #6b6c7e;
}
.component-tbar .tbar-label {
	border-width: 0.0625rem;
}
.subnav-tbar {
	font-size: 0.875rem;
}
.subnav-tbar .btn-unstyled {
	color: #0b5fff;
	text-decoration: none;
}
.subnav-tbar .btn-unstyled:hover {
	color: #004ad7;
	text-decoration: underline;
}
.subnav-tbar strong {
	font-weight: 600;
}
.subnav-tbar .component-link {
	color: #0b5fff;
	font-weight: 600;
}
.subnav-tbar .component-link:hover,
.subnav-tbar .component-link.hover {
	color: #004ad7;
}
.subnav-tbar .component-link:disabled,
.subnav-tbar .component-link.disabled {
	box-shadow: none;
}
.subnav-tbar .tbar-item {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.subnav-tbar .tbar-btn {
	height: 1.5rem;
	line-height: 1;
	margin-bottom: 0.125rem;
	margin-top: 0.125rem;
	padding-left: 0;
	padding-right: 0;
}
.subnav-tbar .tbar-btn .c-inner {
	margin-left: 0;
	margin-right: 0;
}
.subnav-tbar .tbar-btn .c-inner {
	margin-left: 0;
	margin-right: 0;
}
.subnav-tbar .tbar-link {
	margin-bottom: 0.125rem;
	margin-top: 0.125rem;
	padding-bottom: 0.09375rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	padding-top: 0.09375rem;
}
.subnav-tbar .tbar-link > .c-inner {
	margin-bottom: -0.09375rem;
	margin-left: -0.25rem;
	margin-right: -0.25rem;
	margin-top: -0.09375rem;
}
.subnav-tbar .tbar-link .c-inner {
	margin-bottom: -0.09375rem;
	margin-left: -0.25rem;
	margin-right: -0.25rem;
	margin-top: -0.09375rem;
}
.subnav-tbar .tbar-btn-monospaced {
	margin-bottom: 0.125rem;
	margin-top: 0.125rem;
	padding: 0.25rem;
	height: 1.5rem;
	width: 1.5rem;
}
.subnav-tbar .tbar-btn-monospaced .c-inner {
	margin: -0.25rem;
}
.subnav-tbar .tbar-link-monospaced {
	height: 1.5rem;
	margin-bottom: 0.125rem;
	margin-top: 0.125rem;
	width: 1.5rem;
}
.subnav-tbar .tbar-section {
	text-align: left;
}
.subnav-tbar .component-title {
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.45;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
	max-width: 100%;
}
.subnav-tbar .component-text {
	display: inline-block;
	line-height: 1.45;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
	max-width: 100%;
}
.subnav-tbar .component-label {
	font-weight: 400;
}
.subnav-tbar .tbar-label {
	border-width: 0.0625rem;
}
.subnav-tbar-primary {
	background-color: #b3cdff;
	padding-bottom: 0.625rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	padding-top: 0.625rem;
}
.subnav-tbar-primary .component-link {
	color: #272833;
}
.subnav-tbar-primary .component-link:hover,
.subnav-tbar-primary .component-link.hover {
	color: #272833;
}
.subnav-tbar-primary .component-link:disabled,
.subnav-tbar-primary .component-link.disabled {
	color: #6b6c7e;
	cursor: not-allowed;
	opacity: 0.65;
	text-decoration: none;
}
.subnav-tbar-primary .tbar-item {
	justify-content: flex-start;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.subnav-tbar-primary .tbar-link-monospaced {
	border-radius: 0px;
	border-width: 0px;
	height: 3rem;
	margin-bottom: -0.625rem;
	margin-top: -0.625rem;
	width: 3rem;
}
.subnav-tbar-primary .component-label .close.focus,
.subnav-tbar-primary .component-label .close:focus-visible,
.c-prefers-focus .subnav-tbar-primary .component-label .close:focus {
	color: inherit;
}

.subnav-tbar-primary .component-label .close:disabled,
.subnav-tbar-primary .component-label .close.disabled {
	color: #6b6c7e;
	opacity: 0.65;
}
.subnav-tbar-primary .tbar-label {
	font-size: 0.75rem;
	margin-right: 0;
	padding-bottom: 0.3125rem;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	padding-top: 0.3125rem;
	text-transform: none;
	border-width: 0.0625rem;
}
.subnav-tbar-primary .tbar-label > .c-inner {
	margin-bottom: -0.3125rem;
	margin-left: -0.625rem;
	margin-right: -0.625rem;
	margin-top: -0.3125rem;
}
.subnav-tbar-primary.subnav-tbar-disabled {
	background-color: #cfddf8;
	color: #8e94aa;
}
.subnav-tbar-primary.subnav-tbar-disabled .component-label {
	border-color: #8e94aa;
}
.subnav-tbar-primary.subnav-tbar-disabled .tbar-label {
	border-width: 0.0625rem;
}
.subnav-tbar-light {
	background-color: white;
	color: #6b6c7e;
	padding-bottom: 0.125rem;
	padding-top: 0.125rem;
}
.subnav-tbar-light .tbar-label {
	border-width: 0.0625rem;
}
.tbar-stacked {
	display: inline-flex;
	height: 100%;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}
.tbar-stacked .tbar-nav {
	flex-direction: column;
	min-width: 0;
}
.tbar-stacked .tbar-item {
	align-items: center;
	justify-content: flex-start;
	padding-left: 0;
	padding-right: 0;
}
.tbar-stacked .tbar-divider-before::before {
	background-color: #1c1c24;
	content: "";
	display: block;
	height: 1px;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
	width: 2.5rem;
}
.tbar-stacked .tbar-divider-after::after {
	background-color: #1c1c24;
	content: "";
	display: block;
	height: 1px;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
	width: 2.5rem;
}
.tbar-stacked .tbar-item-expand {
	flex-shrink: 0;
	min-width: 0;
}
.tbar-stacked .tbar-btn-monospaced {
	border-color: transparent;
	border-radius: 0px;
	border-width: 0px;
	color: inherit;
	height: 2.5rem;
	margin-bottom: 0;
	margin-top: 0;
	overflow: visible;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	position: relative;
	width: 2.5rem;
}
.tbar-stacked .tbar-btn-monospaced.focus,
.tbar-stacked .tbar-btn-monospaced:focus-visible,
.c-prefers-focus .tbar-stacked .tbar-btn-monospaced:focus {
	box-shadow: inset 0 0 0 0.125rem #5791ff, inset 0 0 0 0.25rem #fff;
}
.tbar-stacked .tbar-btn-monospaced:active:focus-visible,
.c-prefers-focus .tbar-stacked .tbar-btn-monospaced:active:focus {
	box-shadow: inset 0 0 0 0.125rem #5791ff, inset 0 0 0 0.25rem #fff;
}
.tbar-stacked .tbar-btn-monospaced .c-inner {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}
.tbar-stacked .tbar-label {
	border-width: 0.0625rem;
}
.tbar-light {
	background-color: #fff;
	box-shadow: inset 1px 0 0 0 #f1f2f5, inset -1px 0 0 0 #f1f2f5;
	color: #6b6c7e;
}
.tbar-light .tbar-divider-before::before {
	background-color: #f1f2f5;
}
.tbar-light .tbar-divider-after::after {
	background-color: #f1f2f5;
}
.tbar-light .tbar-btn-monospaced:hover {
	color: #272833;
}
.tbar-light .tbar-btn-monospaced.focus,
.tbar-light .tbar-btn-monospaced:focus-visible,
.c-prefers-focus .tbar-light .tbar-btn-monospaced:focus {
	color: #272833;
}
.tbar-light .tbar-btn-monospaced:active {
	background-color: #f1f2f5;
	color: #272833;
}
.tbar-light .tbar-btn-monospaced.active {
	background-color: #f1f2f5;
	color: #272833;
}
.tbar-light .tbar-btn-monospaced:disabled,
.tbar-light .tbar-btn-monospaced.disabled {
	color: inherit;
}
.tbar-light .tbar-btn-monospaced[aria-expanded="true"],
.tbar-light .tbar-btn-monospaced.show {
	background-color: #f1f2f5;
	color: #272833;
}
.tbar-light .tbar-label {
	border-width: 0.0625rem;
}
.tbar-dark-l2 {
	background-color: #393a4a;
	box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.06), inset -1px 0 0 0 rgba(255, 255, 255, 0.06);
	border-color: rgba(255, 255, 255, 0.06);
	color: #a7a9bc;
}
.tbar-dark-l2 .tbar-divider-before::before {
	background-color: rgba(255, 255, 255, 0.06);
}
.tbar-dark-l2 .tbar-divider-after::after {
	background-color: rgba(255, 255, 255, 0.06);
}
.tbar-dark-l2 .tbar-btn-monospaced:hover {
	color: #fff;
}
.tbar-dark-l2 .tbar-btn-monospaced.focus,
.tbar-dark-l2 .tbar-btn-monospaced:focus-visible,
.c-prefers-focus .tbar-dark-l2 .tbar-btn-monospaced:focus {
	color: #fff;
}
.tbar-dark-l2 .tbar-btn-monospaced:active {
	background-color: rgba(255, 255, 255, 0.06);
	color: #fff;
}
.tbar-dark-l2 .tbar-btn-monospaced.active {
	background-color: rgba(255, 255, 255, 0.06);
	color: #fff;
}
.tbar-dark-l2 .tbar-btn-monospaced:disabled,
.tbar-dark-l2 .tbar-btn-monospaced.disabled {
	color: inherit;
}
.tbar-dark-l2 .tbar-btn-monospaced[aria-expanded="true"],
.tbar-dark-l2 .tbar-btn-monospaced.show {
	background-color: rgba(255, 255, 255, 0.06);
	color: #fff;
}
.tbar-dark-l2 .tbar-label {
	border-width: 0.0625rem;
}
.tbar-dark-d1 {
	background-color: #1c1c24;
	box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.06), inset -1px 0 0 0 rgba(255, 255, 255, 0.06);
	color: #a7a9bc;
}
.tbar-dark-d1 .tbar-divider-before::before {
	background-color: rgba(255, 255, 255, 0.06);
}
.tbar-dark-d1 .tbar-divider-after::after {
	background-color: rgba(255, 255, 255, 0.06);
}
.tbar-dark-d1 .tbar-btn-monospaced:hover {
	color: #fff;
}
.tbar-dark-d1 .tbar-btn-monospaced.focus,
.tbar-dark-d1 .tbar-btn-monospaced:focus-visible,
.c-prefers-focus .tbar-dark-d1 .tbar-btn-monospaced:focus {
	color: #fff;
}
.tbar-dark-d1 .tbar-btn-monospaced:active {
	background-color: rgba(255, 255, 255, 0.06);
	color: #fff;
}
.tbar-dark-d1 .tbar-btn-monospaced.active {
	background-color: rgba(255, 255, 255, 0.06);
	color: #fff;
}
.tbar-dark-d1 .tbar-btn-monospaced:disabled,
.tbar-dark-d1 .tbar-btn-monospaced.disabled {
	color: inherit;
}
.tbar-dark-d1 .tbar-btn-monospaced[aria-expanded="true"],
.tbar-dark-d1 .tbar-btn-monospaced.show {
	background-color: rgba(255, 255, 255, 0.06);
	color: #fff;
}
.tbar-dark-d1 .tbar-label {
	border-width: 0.0625rem;
}

.nav-tabs {
	border-bottom: 1px solid #ccc;
}
